<style type="text/css">
h2 {
  font-size: 20px;
  border-bottom: 3px double black;
}
table.common {
  border: 1px solid black;
  width: 100%;
  margin-top: 10px;
  border-collapse: collapse;
}
table.common td {
  padding: 5px;
  border: 1px solid black;
}
</style>
<div class="page">
  <h2>ქოლ-ცენტრის ჩართვის რეესტრი</h2>
  <table class="common">
    <% @tasks.each do |t| %>
    <tr>
      <td width="150"><%= t.created_at.strftime('%d-%b-%Y %H:%M:%S') %></td>
      <td width="100">
        აბ.# <strong><%= t.customer.accnumb.to_ka %></strong>
      </td>
      <td><%= t.customer.custname.to_ka %></td>
      <td><%= t.customer.address %></td>
    </tr>
    <% end %>
  </table>
</div>