%p
	მოგესალმებით, #{@user.first_name}!
%p
	თქვენ წარმატებით გაიარეთ რეგისტრაცია
	სს თელასის ელექტრონული მომსახურების სისტემაში.
%p
	ვიდრე შეძლებდეთ ჩვენი მომსახურებით სარგებლობას, საჭიროა
	თქვენი ელ. ფოსტის დადასტურება. ამისათვის მიჰყევით შემდეგ ბმულს
	(ან დააკოპირეთ ის თქვენს ბრაუზერში):
%p
	#{link_to @url, @url}