<p>
  მოგესალმებით, <%= @user.first_name %>!
</p>
<p>
  თქვენ მოითხოვეთ პაროლის აღდგენა თელასის ელექტრონულ სისლტემაში.
</p>
<p>
  პაროლის აღსადგენად გამოიყენეთ შემდეგი ბმული:
</p>
<p><%= link_to @url, @url %></p>
