<%= render partial: 'cra/cra/address_nav', locals: { address: @address } %>
<% if @children and @children.any? %>
<table class="table">
  <tbody>
    <% @children.each do |child| %>
    <tr>
      <td width="16">
        <%= image_tag cra_address_icon(child.identificator) %>
      </td>
      <td>
        <%= link_to child.identificator_text, cra_by_address_url(id: child.cra_id), style: 'color: #aaa;', 'data-identificator' => child.identificator %>
        <% unless child.description_full.blank? %>
        &mdash; <strong><%= link_to child.description_full, cra_by_address_url(id: child.cra_id) %></strong>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
<% end %>