<div class="btn-toolbar">
  <%= link_to icon_text('arrow-left', 'ძებნა თავიდან'),
  	cra_url(private_number: params[:private_number], id_serial: params[:id_serial], id_number: params[:id_number]),
	class: 'btn'
  %>
</div>

<div class="page-header">
  <h2>შედეგები <small>პირადობის მოწმობით</small></h2>
</div>
<%= render partial: 'form_id_card' %>

<% if @passport %>
  <div><%= render partial: 'cra/cra/passport', locals: {passport: @passport }%></div>
<% else %>
  <div class="well muted">ინფორმაცია ვერ მოიძებნა</div>
<% end %>