<div class="page-header">
  <h2>სამოქალაქო რეესტრი <small>პიროვნების შესახებ ინფორმაციის ძებნა</small></h2>
</div>

<div class="well">
  <h1 style="color:red; text-align: center;" class="page-header">შეჩერებულია!</h1>
  <p>
    2014  წლის 1 დეკემბრიდან სს "თელასმა" აღარ გააგრძელა ხელშეკრულება სამოქალაქო რეესტრთან.
    შესაბამისად ეს სერვისიც გათიშულია.
  </p>
</div>