<div class="page-header">
  <div class="pull-right">
    <%= link_to 'ისტორია', cra_history_url, class: 'btn' %>
  </div>
  <h2>სამოქალაქო რეესტრი <small>პიროვნების შესახებ ინფორმაციის ძებნა</small></h2>
</div>

<div>
  <div class="page-header">
    <h3>ძებნა პირადობის მოწმობის მიხედვით</h3>
  </div>
  <%= render partial: 'form_id_card' %>
  
  <div class="page-header">
    <h3>ძებნა სახელი-გვარით და დაბ.თარიღით</h3>
  </div>
  <%= render partial: 'form_name_and_dob' %>
</div>
