:javascript
	var tariffs2012 = #{Tariff2012.all.to_json};
	var base_url = '#{new_application_url}';
	$(function () {
		$('#voltage').change(resetTariffs);
		$('#power').change(redisplayTariffs);
		resetTariffs();
	});
	function resetTariffs() {
		if(tariffs2012) {
			var voltage = $('#voltage').val();
			var html = [];
			for (var i = 0, j = tariffs2012.length; i < j; i++) {
				tariff = tariffs2012[i];
				if (voltage === tariff.voltage) {
					if (html.length == 0) {
						html.push('<option value="');
					} else {
						html.push('<option value="');
					}
					html.push(tariff.id);
					html.push('">');
					html.push(tariff.power);
					html.push('</option>');
				}
			}
			$('#power').empty();
			$('#power').append(html.join(''));
			redisplayTariffs();
		}
	}
	function redisplayTariffs() {
		var id = $('#power').val();
		for (var i = 0, j = tariffs2012.length; i < j; i++) {
			var tariff = tariffs2012[i];
			if (tariff.id == id) {
				$('#cost').text(tariff.price);
				$('#days').text(tariff.complete);
				$('#next-link').attr('href', base_url + '?tariff_id=' + id);
				break;
			}
		}
	}

%p.muted
	ახალი აბონენტის ქსელში მიერთება ორ ეტაპისგან შედგება. 
%h3 1. ძაბვის საფეხურის და სიმძლავრის არჩევა
%p.muted
	ძაბვის საფეხურის არჩევისას შეგიძლიათ იხელმძღვანელოთ ზოგადი ინსტრუქციით:
%ul.muted
	%li <strong>0.220</strong> კვ საცხოვრებელ ბინაში დენის შესაყვანად
	%li <strong>0.380</strong> კვ კომერციულ ფართზე დენის შესაყვანად
	%li <strong>6/10</strong> კვ ქვესადგურის მისაერთებლად
%p.muted
	სიმძლავრის არჩევისას უნდა იხელმძღვანელოთ თქვენი ობიექტის საპროექტო მონაცემებით.
.row
	.span5
		%form.well
			%label აარჩიეთ ძაბვის საფეხური*
			%select#voltage.span2
				%option 0.220
				%option 0.380
				%option 6-10
			%span.inline-help კვ
			%label მიუთითეთ სასურველი სიმძლავრე**
			%select#power.span2
			%span.inline-help კვტ
		%p.muted * ძაბვის საფეხური მოცემულია კილოვოლტებში
		%p.muted ** სიმძლავრე მოცემულია კილოვატებში
	.span4
		.well
			%p არჩეული მომსახურების საფასურია
			%h3.center <span id="cost">0</span> ლარი
			%p ხოლო შესრულების პერიოდი შეადგენს
			%h3.center <span id="days">0</span> დღეს*
		%p.muted
			* დღეში იგულისხმება კალენდარული დღე
%hr
%h3 2. განაცხადის შევსება
%p.muted
	მას შემდეგ რაც აარჩევთ სასურველ ძაბვას და სიმძლავრეს შეგიძლიათ
	განაცხადის შევსების დაწყება.
.btn-toolbar
	= link_to 'დავიწყო განაცხადის შეცსება', new_application_url, :class => ['btn', 'btn-success', 'btn-large'], :id => 'next-link'
	= link_to 'გაუქმება', home_url, :class => ['btn', 'btn-large'], :confirm => 'ნამდვილად?'