.page-header
	%h2 განცხადებები <small>აბონენტის ქსელში მიერთება</small>
.btn-toolbar
	= link_to icon_text('plus', 'ახალი განცხადება'), new_application_url, :class => ['btn']
/ TODO: აქ დასამატებელია ცხრილი!!!