.page-header
	%h2 განცხადებები <small>აბონენტის ქსელში მიერთება</small>
.btn-toolbar
	= link_to icon_text('plus', 'ახალი განცხადება'), new_application_url, :class => ['btn']
	%span.muted თქვენ ასევე შეგიძლიათ #{link_to 'მომსახურების ტარიფების', tariffs_url} ნახვა
/ TODO: აქ დასამატებელია ცხრილი!!!