<div class="page-header">
  <h2>თქვენი განცხადებები</h2>
</div>
<div class="btn-toolbar">
  <%= link_to icon_text('plus', 'ქსელზე მიერთება'), apps_new_customer_new_path, :class => 'btn' %>
</div>
<% if @applications.any? -%>
  <%= render :partial => 'apps/applications/list' %>
<% else -%>
  <div class="well">
    თქვენი განცხადებების სია ცარიელია.
  </div>
<% end -%>