<% if user.sys_admin -%><span class="badge badge-info"><%= tooltiped_text('სისადმინი', 'სისტემური ადმინისტრატორი') %></span><% end -%>
<% if user.new_cust_admin -%><span class="badge badge-info"><%= tooltiped_text('ქსელი', 'ქსელზე მიერთების მმართველი') %></span><% end -%>