= simple_form_for(@user, :url => change_password_url, :html => {:id => 'password-form', :class => 'form-horizontal'}) do |f|
	%legend პაროლის შეცვლა
	= f.input :password, :label => 'ახალი პაროლი', :input_html => {:autofocus => true}
	= f.input :password_confirmation, :label => 'პაროლის დადასტურება'
	.form-actions
		= f.submit 'პაროლის შეცვლა', :class => ['btn', 'btn-primary']