<% if @confirmed -%>
	<div id="success" clas="alert alert-success alert-block">
		<h3 class="block-header">თქვენი ელ. ფოსტა დადასტურებულია!</h3>
		<p>გილოცავთ! თქვენი ელ.ფოსტის დადასტურება წარმატებულია!</p>
		<p>თქვენ უკვე შეგიძლიათ <%= link_to 'პროგრამით სარგებლობა', login_url %>.</p>
	</div>
<% else -%>
	<div id="error" class="alert alert-error alert-block">
		<h3>დადასტურება ვერ ხერხდება</h3>
		<p>თქვენს მიერ მოწოდებული დადასტურების მონაცემები არასწორია!</p>
		<p>სამწუხაროდ თქვენი ანგარიშის გააქტიურება ვერ ხერხდება.</p>
	</div>
<% end -%>