<div class="page-header">
	<h2>მომხმარებლის რეგისტრაცია</h2>
</div>
<% if @show_success -%>
  <div class="alert alert-success alert-block">
    <h3 class="alert-header">რეგისტრაცია წარმატებულია</h3>
    <p>გილოცავთ! თქვენი რეგისტრაცია წარმატებულია.</p>
    <p>
      <strong>რეგისტრაციის ბოლომდე მისაყვანად საჭიროა თქვენი ელექტრონული ფოსტის დადასტურება</strong>.
      ჩვენ უკვე გამოგიგზავნეთ ელექტრონული წერილი აქტივაციის ბმულით.
      ის მოგივათ 10-15 წუთის ინტერვალში.
    </p>
    <p>
      გთხოვთ შეამოწმოთ თქვენი საფოსტო ყუთი. 
    </p>
  </div>
  <div class="alert alert-warning alert-block">
    <p>
      თუ აქტივაციის ბმული არ მოგივიდათ, გთხოვთ დაგვიკავშირდეთ
      ელ.ფოსტით <%= support_email %> ან ტელეფონზე <%= support_phone %>. 
    </p>
  </div>
<% else -%>
	<%= render :partial => 'users/register_form' %>
	<p class="muted">
		უკვე რეგისტრირებული ხართ? მაშინ დაუბრუნდით <%= link_to 'ავტორიზაციის გვერდს', login_url %>.
		ხელმეორედ რეგისტრაცია არაა საჭირო.
	</p>
<% end -%>