<div class="page-header">
</div>
<% if @show_success -%>
  <div class="alert alert-success alert-block">
    <h3 class="alert-header">რეგისტრაცია წარმატებულია</h3>
    <p>გილოცავთ! თქვენი რეგისტრაცია წარმატებულია.</p>
    <p>
      რეგისტრაციის ბოლომდე მისაყვანად საჭიროა თქვენი ელექტრონული ფოსტის დადასტურება.
      ჩვენ უკვე გამოგიგზავნეთ ელექტრონული წერილი აქტივაციის ბმულით.
      ის მოგივათ 10-15 წუთის ინტერვალში.
    </p>
    <p>
      გთხოვთ შეამოწმოთ თქვენი საფოსტო ყუთი. 
    </p>
  </div>
	%p.muted
		თუ აქტივაციის ბმული არ მიიღეთ 10-15 წუთის განმავლობაში, გთხოვთ დაგვიკავშირდეთ
		ტელეფონის ნომერზე #{support_phone} ან ელექტრონული ფოსტის მეშვეობით #{support_email}. 
<% else -%>
	= render :partial => 'site/user/register_form'
	%p
		უკვე რეგისტრირებული ხართ? მაშინ დაუბრუნდით #{link_to 'ავტორიზაციის გვერდს', login_url}.
		ხელმეორედ რეგისტრაცია არაა საჭირო.
<% end -%>