<div class="btn-toolbar" style="">
  <%= link_to icon_text('arrow-left', 'ძებნაში დაბრუნება'), call_customer_url, class: 'btn' %>
</div>
<%= @customer_form.html %>
<%= @trash_customer_form.html %>
<%= @water_customer_form.html %>