<div class="btn-toolbar">
  <%= link_to icon_text('arrow-left', 'ყველა ჩაჭრა/აღდგენა'), call_customer_cuts_url(custkey: @customer.custkey), class: 'btn' %>
</div>
<%= @cut_form.html %>
<%= @account_form.html %>
<%= @customer_form.html %>