<div class="btn-toolbar">
  <%= link_to icon_text('arrow-left', 'ყველა ოპერაცია'), call_customer_items_url(custkey: @customer.custkey), class: 'btn' %>
</div>
<%= @item_form.html %>
<%= @account_form.html %>
<%= @customer_form.html %>