<div class="page-header">
  <h4>ბ/ც (<%= @regions.size %>)</h4>
</div>
<% if @regions.any? %>
  <% @regions.each do |reg| %>
    <p><%= icon_text 'home', reg.regionname.to_ka %></p>
  <% end %>
<% else %>
  <p class="muted">სია ცარიელია.</p>
<% end %>