<div class="page-header">
  <h4>ქუჩები (<%= @streets.size %>)</h4>
</div>
<% if @streets.any? %>
  <div>
    <% @streets.each do |str| %>
      <p><%= icon_text 'road', str.streetname.to_ka %></p>
    <% end %>
  </div>
<% else %>
  <p class="muted">სია ცარიელია</p>
<% end %>