<%= render partial: 'sys/gis/gis_menu' %>
<div class="page-header">
  <h2>ლოგები</h2>
</div>
<div class="btn-toolbar">
  <%= link_to icon_text('refresh', 'სინქრონიზაცია'), sys_sync_gis_logs_path, class: 'btn', method: 'post', confirm: 'ნამდვილად გინდათ სინქრონიზაცია?' %>
</div>
<%= render partial: 'sys/gis/logs', locals: {logs: @logs} %>
<%= paginate @logs %>