<%= render partial: 'sys/gis/gis_menu' %>
<script type="text/javascript">
  $(function() {
    Telasi.simpleSearchSetup({url: '<%= sys_gis_messages_url %>'});
  });
</script>
<div class="page-header">
  <h2>შეტყობინებები</h2>
</div>
<div>
  <input type="text" id="search-field" placeholder="ძებნა..." autofocus="true" value="<%= @q %>"/>
  <span class="muted">&larr; <em>ძებნა ქვესადგურის, ფიდერის ან ტრანსფორმატორის სახელით</em></span>
</div>
<div id="search-result">
  <%= render partial: 'sys/gis/message_list' %>
</div>