<div class="page-header">
  <h2>დაგზავნის პარამეტრები</h2>
</div>
<p class="muted">
  განსაზღვრეთ, თუ ვინ და რა ფორმით მიიღებს შეტყობინებებს ქსელში მომხდარი ცვლილებების გამო.
</p>
<div class="btn-toolbar">
  <%= link_to icon_text('plus', 'ახალი მიმღები'), sys_gis_new_receiver_path, class: 'btn' %>
</div>