<div class="page-header">
  <h2>ქვესადგურის სექციები</h2>
</div>
<div class="btn-toolbar">
  <%= link_to icon_text('refresh', 'სინქრონიზაცია'), nil, class: 'btn' %>
</div>
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th width="200">ქვესადგური</th>
      <th width="100">ძაბვა</th>
      <th width="100">სექცია</th>
      <th></th>
    </tr>
  </thead>
  <!-- TODO: station data here -->
</table>