<%= render partial: 'sys/gis/gis_menu' %>

<h1 class="page-header"><%= @title %></h1>

<%= table_for @receivers, title: @title do |t|
  t.title_action sys_new_gis_summary_receiver_url, label: 'ახალი მიმღები'
  t.item_action ->(x){ sys_edit_gis_summary_receiver_url(x) }, label: 'შეცვლა'
  t.item_action ->(x){ sys_delete_gis_summary_receiver_url(x) }, method: 'delete', label: 'წაშლა', confirm: 'ნამდვილად გინდათ წაშლა?'
  t.row_class ->(x){ (x.active ? 'success' : 'danger') }
  t.boolean_field 'send_unconfirmed', label: '?'
  t.text_field 'mobile', label: 'მობილური', tag: 'code', after: ->(x){x.locale}
  t.text_field 'name', label: 'სახელი, გვარი'
  t.text_field 'groups', label: 'ჯგუფ(ებ)ი'
  t.text_field 'note', label: 'შენიშვნა'
end %>