<% if Call.call_center_sms_send_time %>
  <div class="alert alert-error alert-block">
    SMS-შეტყობინებების გაგზავნა <strong>გააქტიურებულია</strong> დროის ამ მონაკვეთში!
  </div>
<% else %>
  <div class="alert alert-warning alert-block">
    SMS-შეტყობინებების გაგზავნა დროის ამ მონაკვეთში <strong>არ მოხდება</strong>!
  </div>
<% end %>
