<%= render partial: 'call/sms_notice' %>
<ul class="breadcrumb">
  <% @nav.each_with_index do |(k, v), i| %>
  <% if i == @nav.size - 1%>
    <li><%= k %></a></li>
  <% else %>
    <li><a href="<%= v %>"><%= k %></a> <span class="divider">/</span></li>
  <% end%>
  <% end %>
</ul>
