<ul class="breadcrumb">
  <% @nav.each_with_index do |(k, v), i| %>
  <% if i == @nav.size - 1%>
    <li><%= k %></a></li>
  <% else %>
    <li><a href="<%= v %>"><%= k %></a> <span class="divider">/</span></li>
  <% end%>
  <% end %>
</ul>
<% if Call.call_center_sms_send_time %>
  <div class="alert alert-error alert-block">
    SMS გაგზავნა <strong>გააქტიურებულია</strong> დროის ამ მონაკვეთში!
  </div>
<% else %>
  <div class="alert alert-warning alert-block">
    SMS გაგზავნა დროის ამ მონაკვეთში <strong>არ მოხდება</strong>!
  </div>
<% end %>
