<style type="text/css">
  .start { color: #aaa; padding: 50px 0 25px 0; text-align: center; }
</style>
<div class="start">
  დავალიანების სანახავად შეიყვანეთ აბონენტის ნომერი ძებნის ველში მარცხნივ.
</div>