<style type="text/css">
  .logo { height: 75px; }
  .debt { padding: 0 0 32px 0; }
  .number { font-family: Courier; font-size: 18px; }
  .note { color: #aaa; padding: 50px 0 25px 0; text-align: center; }
</style>
<div class="row">
  <div class="span3">
    <%= render partial: 'debt/search' %>
  </div>
  <div class="span9">
    <% if @customer %>
      <%= render partial: 'debt/customer' %>
    <% elsif @not_found %>
      <%= render partial: 'debt/not_found' %>
    <% else %>
      <%= render partial: 'debt/find_customer' %>
    <% end %>
  </div>
</div>
