<%= render partial: 'call/top' %>
<h2 class="page-header"><%= @title %></h2>
<%= table_for @outages, title: @title, collapsible: true, icon: '/assets/fff/lightning.png' do |t|
  t.date_field 'start', formatter: '%d-%b-%Y %H:%M'
  t.date_field 'end', formatter: '%d-%b-%Y %H:%M'
end %>