<%= render partial: 'call/top' %>
<br>==========================================<br>
<h2 class="page-header"><%= @title %></h2> 
<br>==========================================<br>
<%= call_outage_form @outage, title: @title, icon: '/assets/fff/lightning_add.png' %>