<head></head>
<style type="text/css">
 .button1 {
 	width: 550px;
 }

.button2 {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}



.spinner3 {
  width: 40px;
  height: 40px;
  background-color: #3366ff;

  margin: 100px auto;
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes sk-rotateplane {
  0% { 
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
  } 50% { 
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
  } 100% { 
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}

 </style>
<body>
 <h2 id='message1'> ნამდვილად გსურთ მონაცემების განახლება? </h2>
<br>


	<%= form_tag(call_outage_sync_url, method: :get, id: "call-outage-syncpage-form") do %>

	 <%= hidden_field_tag 'actionpar', 'working' %>

	<%= submit_tag('განახლება', 
		:style => " width: 180px;
		            background-color: #4CAF50;  
		            border: none;
				    color: white;
				    padding: 15px 32px;
				    text-align: center;
				    text-decoration: none;
				    display: inline-block;
				    font-size: 16px;
				    margin: 4px 2px;
				    cursor: pointer;" ,
    :onclick => "document.getElementById('message1').innerHTML = 'მიმდინარეობს მონაცემების განახლება. გთხოვთ დაელოდოთ <br><br> <div class=spinner2></div> <br>  '"  )  %>
	<% end %>

    <%= button_to "უკან დაბრუნება", call_outages_url , :method => "get", 
    :style => " width: 180px;
		            background-color: #ff4d4d;  
		            border: none;
				    color: white;
				    padding: 15px 32px;
				    text-align: center;
				    text-decoration: none;
				    display: inline-block;
				    font-size: 16px;
				    margin: 4px 2px;
				    cursor: pointer;" %>

<div class=spinner3></div>


</body>