<style type="text/css">
  .index-top-image { height: 250px; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; overflow: hidden; border: 1px solid #aaa; }
  .index-top h2 { font-size: 19px; }
</style>
<div class="row index-top">
  <div class="span6">
    <div class="index-top-image" style="background: url(/assets/index/switch.png) no-repeat 50% 50%;"></div>
    <div>
      <h2>დავალიანების ნახვა</h2>
      <p>ნახეთ ელექტროენერგიის, დასუფთავების და წყლის დავალიანება. სერვისი ხელმისაწვდომია ნებისმიერ დროს და ადგილას.</p>
      <p><%= link_to 'დავალიანების ნახვა', debt_url %></p>
    </div>
  </div>
  <div class="span6">
    <div class="index-top-image" style="background: url(/assets/index/horizont.png) no-repeat 50% 50%;"></div>
    <div>
      <h2>ქსელზე მიერთება</h2>
      <p>ჯერ არ ხართ თელასის აბონენტი? ახალი ელექტრონული სერვისის მეშვეობით თელასის ქსელზე მიერთება ძალიან მარტივია.</p>
      <p><%= link_to 'ქსელზე მიერთება', site_new_customer_url %></p>
    </div>
  </div>
</div>