<style type="text/css">
  .telasi { background: url(/assets/telasi128.png) no-repeat 0 50%; padding: 24px 0 24px 136px; margin: 0 0 16px 0; min-height: 64px; }
  .telasi h1 { font-size: 20px; }
  .features-image { height: 250px; border-radius: 7px; -moz-border-radius: 7px; -webkit-border-radius: 7px; overflow: hidden; border: 1px solid #aaa; }
  .features h2 { font-size: 18px; }
</style>
<div class="telasi">
  <p>
    მოგესალმებით <strong>&quot;სს თელასის&quot; ელექტრონული მომსახურეობის</strong> ვებ-გვერდზე.
    მისი მეშვეობით თქვენ შეგიძლიათ მიიღოთ და აკონტროლოთ თქვენთვის საინტერესო ინფორმაცია.
    წინადადებების და შენიშვნებისთვის გთხოვთ მოგვწეროთ ელექტრონულ ფოსტაზე <%= support_email %>.
  </p>
</div>
<div class="row features">
  <div class="span6">
    <div class="features-image" style="background: url(/assets/index/switch.png) no-repeat 50% 50%;"></div>
    <div>
      <h2>დავალიანების ნახვა</h2>
      <p>ნახეთ ელექტროენერგიის, დასუფთავების და წყლის დავალიანება. სერვისი ხელმისაწვდომია ნებისმიერ დროს და ადგილას.</p>
      <p><%= link_to 'დავალიანების ნახვა', debt_url %></p>
    </div>
  </div>
  <div class="span6">
    <div class="features-image" style="background: url(/assets/index/horizont.png) no-repeat 50% 50%;"></div>
    <div>
      <h2>ქსელზე მიერთება</h2>
      <p>ჯერ არ ხართ თელასის აბონენტი? ახალი ელექტრონული სერვისის მეშვეობით თელასის ქსელზე მიერთება ძალიან მარტივია.</p>
      <p><%= link_to 'ქსელზე მიერთება', site_new_customer_url %></p>
    </div>
  </div>
</div>