<script type="text/javascript">
  $(function() {
  	$('.carousel').carousel({ interval: 5000 });
  });
</script>
<div id="my-carousel" class="carousel" style="height: 450px; margin-top: 16px;">
  <div class="item active">
    <%= image_tag 'high_voltage01.png' %>
    <div class="carousel-caption">
      <h4>გახდით თელასის ქსელის აბონენტი</h4>
      <p>
      	ჩაერთეთ თელასის ქსელში გამარტივებული ელექტრონული პროცედურის მეშვეობით.
      </p>
    </div>
  </div>
  <!-- div class="item">
    <%= image_tag 'bill_telasi.png' %>
    <div class="carousel-caption">
      <h4>გაიგეთ დავალიანება ინტერნეტით</h4>
      <p>
      	აკონტროლეთ თქვენი დავალიანება ინტერნეტის მეშვეობით და
      	მიიღეთ ვალის წარმოქმნის შესახებ შეტყობინება თქვენს მობილურზე.
      </p>
    </div>
  </div -->
</div>