- content_for(:top) do
	#index-header
		%h1 თელასის ელექტრონული მომსახურება <sup class="label label-important">სატესტო</sup>
		.top-footer თელასის <strong>ქსელზე მიერთების განაცხადი</strong> უკვე ელექტრონულ ფორმატში
.content
	#register_now
		.row
			.span6
				%p
					= link_to 'ახალი რეგისტრაცია'.html_safe, register_url, :class => ['btn', 'btn-primary', 'btn-large']
				%p.muted
					პროგრამაში მუშაობის დასაწყებად უნდა დარეგისტრირდეთ.<br>
					რეგისტრაციის პროცესი მარტივი და სწრაფია.
			.span6
				%p
					= link_to 'სისტემაში შესვლა'.html_safe, login_url, :class => ['btn', 'btn-large', 'btn-success']
				%p.muted
					თუ უკვე რეგისტრირებული ხართ, შეგიძლიათ მუშაობის დაწყება.