.container
	.row
		.span8
			შესვლის ფორმა აქ
		.span4
			%p.muted
				მომსახურეობით სარგებლობისთვის უნდა იყოთ რეგისტრირებული
				ჩვენს საიტზე. თუ ჯერ არ ხართ რეგისტრირებული, შეგიძლიათ
				ეს ახლა გააკეთოთ.
			%p.center
				= link_to 'რეგისტრაცია'.html_safe, register_url, :class => ['btn', 'btn-success']