- if @show_success
	.alert.alert-success.alert-block
		%h3.alert-header რეგისტრაცია წარმატებულია
		%p
			გილოცავთ! თქვენი რეგისტრაცია წარმატებულია.
		%p
			რეგისტრაციის ბოლომდე მისაყვანად საჭიროა თქვენი ელექტრონული ფოსტის
			მისამართის დადასტურება. ჩვენ უკვე გამოგიგზავნეთ ელექტრონული წერილი
			აქტივაციის ბმულით. ის რამდენიმე წუთის ინტერვალში იქნება თქვენს
			საფოსტო ყუთში.
	%p.muted
		თუ აქტივაციის ბმული არ მიიღეთ 10-15 წუთის განმავლობაში, გთხოვთ დაგვიკავშირდეთ
		ტელეფონის ნომერზე #{support_phone} ან ელექტრონული ფოსტის მეშვეობით #{support_email}. 
- else
	= render :partial => 'site/user/register_form'
	%p
		უკვე რეგისტრირებული ხართ? მაშინ დაუბრუნდით #{link_to 'ავტორიზაციის გვერდს', login_url}.
		ხელმეორედ რეგისტრაცია არაა საჭირო.			