<h4>სხვა მოქმედებები</h4>
<hr>
<p class="muted">
  თქვენ ასევე შეგიძლიათ შემდეგი მოქმდებების შესრულება:
</p>
<ul>
  <li><%= link_to 'ქსელში ჩასართველი აბონენტების მართვა', apps_new_customer_items_path %></li>
  <li><%= link_to 'თანდართული საბუთების ატვირთვა', apps_new_customer_docs_path %></li>
  <li><%= link_to 'ჩაწეროთ სიტყვიერი განმარტებები ან გაეცნოთ უკვე არსებულს', apps_new_customer_notes_path %></li>
</ul>