<%= render :partial => 'apps/new_customer/header' %>
<p class="muted">
  აქ ასახეთ ქსელში ჩასართველი აბონენტ(ებ)ის შესახებ ინფორმაცია.
</p>
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>აბონენტი</th>
      <th width="200">ძაბვის საფეხური</th>
      <th width="200">სიმძლავრე</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td colspan="3" class="muted">აბონენტების სია ცარიელია</td>
    </tr>
  </tbody>
</table>