@media screen {
  body.print {
    font-size: 9pt;
    background: whitesmoke;
    div.page {
      width: 210mm - 30mm;
      background: white;
      margin: 10px auto;
      padding: 15mm;
      border: 1px solid #aaa;
    }
  }
}
@media print {
  body.print {
    font-size: 10pt;
    background: white;
  }
  .break { page-break-before: always; }
}
@media all {
  body.print {
  }
}