$theme: #f5ffd9
.properties
  .title
    font-weight: bold
    font-size: 14px
    padding: 8px
    margin-bottom: 8px
    border-bottom: 2px solid darken($theme, 50%)
    border-top: 2px solid darken($theme, 50%)
    background: $theme