<%= render partial: 'call/top' %>
<div class="page-header">
  <h2>ადმინისტრირება</h2>
</div>
<div style="text-align: center; padding: 32px 0;">
  <%= link_to 'სტატუსები', call_statuses_url, class: 'btn' %>
</div>