<style type="text/css">
  .note { padding: 50px; color: #aaa; }
</style>
<div class="row">
  <div class="span3">
    <%= render partial: 'customer/search' %>
  </div>
  <div class="span9">
    <% if @customer %>
      <%= render partial: 'customer/customer' %>
    <% elsif @not_found %>
      <%= render partial: 'customer/not_found' %>
    <% else %>
      <%= render partial: 'customer/find_customer' %>
    <% end %>
  </div>
</div>
