%hr
.container
  .copy
    &copy; 2012
    <a href="http://www.telasi.ge">სს თელასი</a>
  .it საინფორმაციო ტექნოლოგიების დეპარტამენტი
  %address.muted
    საქართველო, ქ. თბილისი 0154, ვანის ქ. №3
    /p: +(99532)2779868<br>
    /e: #{mail_to 'sys@telasi.ge'}
