%hr
.container
  .copy
    &copy; 2012
    <a href="http://www.telasi.ge">სს თელასი</a>
  .it საინფორმაციო ტექნოლოგიების დეპარტამენტი
  %address.muted
    საქართველო,
    ქ. თბილისი 0154,
    ვანის ქ. №3<br>
    p: #{support_phone}<br>
    e: #{support_email}