%hr
.container
	.copy
		&copy; 2012
		<a href="http://www.telasi.ge">სს თელასი</a>
	%address.muted
		საქართველო, ქ. თბილისი 0154, ვანის ქ. №3<br>
		საინფორმაციო ტექნოლოგიების დეპარტამენტი<br>
		p: #{support_phone}; e: #{support_email}