<hr>
<div class="locale pull-right">
  <%= link_to 'English', url_for(params.merge(locale: 'en')) %> |
  <%= link_to 'ქართული', url_for(params.merge(locale: 'ka')) %>
</div>
<div class="copy">2012 &copy; <a href="http://www.telasi.ge"><%= t(:company)  %></a></div>