<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to 'telasi.ge', home_url, :class => :brand %>
      <%= main_menu %>
	  <%= secondary_menu %>
    </div>
  </div>
</div>