<head></head>
<style type="text/css">
#header1  {background-color: #ffc34d ; padding: 10px; border-radius: 4px;}  

</style>
<ul class="breadcrumb" >
  <% @customnav.each_with_index do |(k, v), i| %>
  <% if i == @customnav.size - 1%>
    <li><%= k %></li>
  <% else %>
    <li><a href="<%= v %>"><%= k %></a> <span class="divider">/</span></li>
  <% end%>
  <% end %>
</ul>

<h2 id='header1'>ახალი დოკუმენტის შექმნა</h2><br>

<%= render 'form' %>
